/* MOD18ACSS */
.mod18ctamob { padding: 11px 112px !important; }
.mod18abg1 { background-size: 292px 248px !important; }
.mod18abg2 { background-size: 292px 248px !important; }
.mod18abg3 { background-size: 292px 248px !important; }
