/* MOD18DCSS */
.ml23 {
    margin-left: 23px !important;
}
.lh10 { line-height: 10px !important; }
.line13 { line-height: 13px !important; }
.mr21 { margin-right: 21px !important; }
.mod18dbgm {
    background-image: url('images/mod18de_bg_m.jpg') !important;
    background-size: 292px 248px;
}
.line8 { line-height: 8px !important; }
.line17 { line-height: 17px !important; }
.mod18dtamob { padding: 11px 112px !important; }
