/* MOD19CSS */
.mod19ctamob { padding: 11px 112px !important; }
.mod19bg1 { background-image: url('images/mod18_bg_m.jpg') !important; }
.mod19bg2 { background-image: url('images/mod18_bg_m.jpg') !important; }
.mod19bg3 { background-image: url('images/mod18_bg_m.jpg') !important; }
