/* MOD38GCSS */
.mod38gbg {
    height: 328px !important;
    background-image: url('images/mod38g_bg_m.jpg') !important;
}
.line23 { line-height: 23px !important; }
.line45 { line-height: 45px !important; }
