/* MOD40CCSS*/
.mod40cbg {
    height: 172px !important;
    background-image: url('images/mod40c_bg_m.png') !important;
}
.mod40dbg {
    height: 128px !important;
    background-image: url('images/mod40c_bg_m.png') !important;
}
