/* MOD9DCSS*/
.mod9dbg {
    height: 493px !important;
    background-image: url('images/mod9d_hero_bg_trans_m.jpg') !important;
}
.pl11 { padding-left: 11px !important; }
.pr24 { padding-right: 24px !important; }
.pt5 { padding-top: 5px !important; }
